h1 {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 2rem;
    top: 3rem;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 3rem;
    left: 1.4rem;
    margin-bottom: 4rem;
}

span {
    color: red;
}

ol {
    position: fixed;
    list-style: none;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}