* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

nav li {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-inline: 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.box {
    position: relative;
    left: 2rem;
    top: 2rem;
    box-shadow: 12px 18px 10px gray;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    background-color: black;
}

.box:hover {
    width: 200px;
    height: 100px;
    background-color: aqua;
    box-shadow: 12px 18px 10px green;
}

.box:active {
    width: 200px;
    height: 100px;
    background-color: red;
}

.box::before {
    content: 'Any other detail';
}

.box::after {
    content: 'More details';
}